@using System.Diagnostics.CodeAnalysis

<span x-path="@Path"
      class="x-label @Item?.Style?.Class">
    @Item?.Value
</span>

@code {
    [Parameter, AllowNull]
    public string Path { get; set; }

    [Parameter, AllowNull]
    public common.Elements.Label Item { get; set; }
}

